---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "My Astro Blog";
---

<html lang="en">
  <head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
  </head>   
  <body>      
    <BaseLayout pageTitle={pageTitle}>
      <p>Welcome to my blog! Here, I'll share my thoughts and experiences on web development, programming, and technology.</p>
      <p>Stay tuned for updates and new posts!</p>
      {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </BaseLayout>
  </body>
</html>
