---
import BaseLayout from '../layouts/BaseLayout.astro';

const tags = ['astro', 'blogging', 'learning in public', 'successes', 'setbacks', 'community']
const pageTitle = "Home Page";
---


<BaseLayout pageTitle={pageTitle}>
	<h2>My Astro Learning Blog</h2>
	
	<ul>
    	{tags.map((tag) => <li><a href={`/tags/${tag}`}>{tag}</a></li>)}
  	</ul>
</BaseLayout>